<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <script src="Scripts/jquery-1.10.2.js"></script>
    <script src="Scripts/bootstrap.js"></script>
	<meta charset="utf-8" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <link href="Content/Site.css" rel="stylesheet" />
    <script src="Scripts/ui-grid.min.js"></script>
    <link href="Content/ui-grid.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.10.2/angular-chart.css" rel="stylesheet" />
    <link href="http://victorbjelkholm.github.io/ngProgress/ngProgress.css" rel="stylesheet" />
   
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap.js"></script>-->
  <!--  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.5.7/angular-touch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js"></script>
    <script src="http://jtblin.github.io/angular-chart.js/dist/angular-chart.js"></script>
    <script src="https://rawgit.com/VictorBjelkholm/ngProgress/v1.1.2/build/ngprogress.min.js"></script>
    <script src="Scripts/ng-file-upload.js"></script>
    <script src="Scripts/ng-file-upload-shim.js"></script>

    <script src="Scripts/Custom/main.js"></script>
    <script src="Scripts/Custom/Services/ServiceFactory.js"></script>
    <script src="Scripts/Custom/Services/InventoryService.js"></script>
    <script src="Scripts/Custom/Services/CustomerService.js"></script>
    <script src="Scripts/Custom/Services/OrderService.js"></script>
    <script src="Scripts/Custom/Services/ExpenseService.js"></script>
    <script src="Scripts/Custom/Controllers/InventoryController.js"></script>
    <script src="Scripts/Custom/Controllers/ReportController.js"></script>
    <script src="Scripts/Custom/Controllers/OrderController.js"></script>
    <script src="Scripts/Custom/Controllers/OrdersController.js"></script>
    <script src="Scripts/Custom/Controllers/ExpenseController.js"></script>

</head>
<body ng-app="mainApp">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Nicholson Family Farm</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">

                <ul class="nav navbar-nav">
                    <li><a href="#inventory">Inventory</a></li>
                    <li class="dropdown">
                        <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orders <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#addOrder">Add New Order</a></li>
                            <li><a href="#listOrders">List Orders</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-hide="true">
                        <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customers <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#addCustomer">Add New Customer</a></li>
                            <li><a href="#listCustomers">List Customers</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#inventoryReport">Inventory Report</a></li>
                            <!--<li><a href="#listCustomers">List Customers</a></li>-->
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Expense <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#Expense">Add New Expense</a></li>
                            <li><a href="#listExpenses">List Expenses</a></li>
                        </ul>
                    </li>
                   
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" role="main">
        <br/>
        <br />
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-1">
                
            </div>
            <div class="col-md-10">
                <div ng-view></div>

                <script type="text/ng-template" id="alert.html">
                    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
                        <div ng-transclude></div>
                    </div>
                </script>
                <!--<script type="text/ng-template" id="listOrders">
                    List Orders
                    {{message}}
                </script>-->
                <script type="text/ng-template" id="listCustomers">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Search Customers</h3>
                                </div>
                                <div class="panel-body">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <label for="firstName">First Name</label>
                                            <input type="text" id="firstName" ng-model="customer.firstName" placeholder="First Name" />
                                        </div>
                                        <div class="form-group">
                                            <label for="lastName">Last Name</label>
                                            <input type="text" id="lastName" ng-model="customer.lastName" placeholder="Last Name" />
                                        </div>
                                        <div class="form-group">
                                            <label for="facebookId">Phone #</label>
                                            <input type="text" id="phoneNo" ng-model="customer.phoneNo" placeholder="Phone #"  />
                                        </div>
                                        <div class="form-group">
                                            <label for="emailId">Email Id</label>
                                            <input type="text" id="emailId" ng-model="customer.email" placeholder="Email Id" />
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-sm" ng-click="search()">Search</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div ui-grid="{ data: customers }" class="myGrid"></div>
                        </div>
                    </div>
                </script>
                <script type="text/ng-template" id="addOrders">
                    Add Orders
                    {{message}}
                </script>
                
            </div>
            <div class="col-md-1">
                
            </div>
        </div>
       
        
        
    </div>
</body>
</html>
